.launch-item {
    float: left;
    padding: 10px;
}
.launch-item div {
    padding: 10px;
    background: #fff;
    text-align: center;
    min-height: 480px;
    max-height: 600px;
}

.launch-item label {
    text-align: left;
}

.launch-item div p {
    text-align: left;
    margin: 5px 0px;
}

.launch-item div img {
    width: 100%;
}
